  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href=""/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta charset="UTF-8" >
    <title>{% block title %}eFood-Order at your convenience{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="https://www.e-food.gr/site-assets/img/logos/logo250x250.jpg"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<body>
<section>
  <canvas id='foodCanvas'></canvas>
  <div class="coming_content">
      <hr>
    <h1>Coming Soon</h1>
    <div class="separator_container">
      <div class="separator line_separator">
        <span>
          <img src="https://ae01.alicdn.com/kf/HTB1bdFfQXXXXXawXXXXq6xXFXXXi/Framed-4-Panels-Set-Delicious-fruit-food-HD-Canvas-Print-Painting-Artwork-Gift-Wall-Art-Picture.jpg_640x640.jpg">
       </span>
      </div>
    </div>
      <br>
    <h3>I like Food. Oh, and Python too.</h3>
            <hr>
  </div>
</section>
